<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сохранить информацию о студенте</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h3>Данные студента</h3>
    <hr>
    <p class="h4 mb-4">Сохранить информацию о студенте</p>
    <form action="#" th:action="@{/students/save}"
          th:object="${student}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{firstName}"
               class="form-control mb-4 col-4"
               placeholder="Имя">

        <input type="text" th:field="*{lastName}"
               class="form-control mb-4 col-4"
               placeholder="Фамилия">

        <input type="text" th:field="*{patronymic}"
               class="form-control mb-4 col-4"
               placeholder="Отчество">

        <input type="date" th:field="*{birthDate}"
               class="form-control mb-4 col-4"
               placeholder="Дата рождения">

        <select th:field="*{studyGroup}"
                class="form-control mb-4 col-4">
            <option th:value="'ВТ-30-10'" th:text="ВТ-30-10"></option>
            <option th:value="'МТ-20-11'" th:text="МТ-20-11"></option>
            <option th:value="'МТ-30-10'" th:text="МТ-30-10"></option>
            <option th:value="'ИБ-10-12'" th:text="ИБ-10-12"></option>
        </select>

        <button type="submit" class="btn btn-info col-2">Сохранить</button>
    </form>
    <hr>
    <a th:href="@{/students/list}">Вернуться к списку студентов</a>
</div>
</body>
</html>